/* Configurações gerais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #fff;
}

/* Camada de desfoque */
#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro para efeito de desfoque */
    backdrop-filter: blur(8px); /* Aplica o desfoque ao fundo */
    display: none; /* Inicialmente oculto */
    z-index: 1; /* Garante que fique atrás do conteúdo destacado */
}

/* Configurações do container */
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: auto; /* Permite rolar o container */
}

/* Configurações do aside */
#bio-container {
    width: 25%;
    background-color: #121212;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; /* Garante que fique acima do desfoque */
    position: relative; /* Garante que o aside fique fixo */
}

/* Configurações do título do aside */
#bio-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Configurações da imagem do perfil */
#bio-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 2px solid #6a0dad;
}

/* Configurações do texto de boas-vindas */
#welcome-text {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
}

/* Configurações das redes sociais */
#social-container {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

#social-container li {
    display: inline;
}

#social-container a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

#social-container a:hover {
    color: #6a0dad;
}

/* Configurações do container de email */
#email-container {
    margin-top: auto;
    text-align: center;
}

#email-container ion-icon {
    vertical-align: middle;
    margin-right: 5px;
}

#email-container a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s;
}

#email-container a:hover {
    color: #6a0dad;
}

/* Ajuste dos projetos */
#projects-container {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1c1c1c;
    position: relative;
}

#projects-title {
    text-align: center;
    margin-bottom: 20px;
}

#projects-carousel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.project-item {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 10px;
    transition: transform 1s, z-index 1s;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.project-item.highlighted {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ajuste para cobrir toda a tela */
    height: 100vh; /* Ajuste para cobrir toda a tela */
    transform: scale(1); /* Remove o efeito de escala para manter o card visível na tela inteira */
    z-index: 3; /* Garante que o card fique acima de tudo */
    overflow: auto; /* Permite rolar o card destacado se necessário */
}

.project-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    z-index: 1;
}

.project-card.flipped {
    transform: rotateY(180deg);
}

.project-front, .project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project-front {
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-front img {
    max-width: 100%;
    border-radius: 10px;
}

.project-back {
    background-color: #080808;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

/* Ajuste a posição do título para que fique no topo e centralizado */
.project-back .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0px; /* Espaço do topo */
    margin-bottom: 200px; /* Espaço abaixo do título */
}

/* Alinha o conteúdo centralizado e garante que o texto e as bolinhas estejam no meio */
.project-back .content {
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

.project-back ul {
    list-style-type: disc;
    padding-left: 0; /* Remove o preenchimento padrão */
    margin: 0;
    text-align: center; /* Centraliza o texto da lista */
}

.project-back ul li {
    padding-left: 20px; /* Adiciona um pouco de preenchimento para a lista */
    margin-bottom: 5px; /* Adiciona espaçamento entre os itens da lista */
    display: inline-block; /* Faz os itens da lista serem alinhados em linha */
    text-align: center; /* Garante que as bolinhas sejam alinhadas à esquerda */
}

.project-back .tech-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.project-back .tech-icons i {
    font-size: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    width: auto; /* Ajusta automaticamente a largura do ícone */
    height: auto; /* Ajusta automaticamente a altura do ícone */
}

/* Configurações da seta */
.project-back::before {
    content: '←'; /* Ou use uma imagem ou ícone, se preferir */
    position: absolute;
    top: 20px; /* Ajusta a posição da seta para não interferir com o título */
    left: 10px;
    font-size: 75px;
    color: #6a0dad; /* Cor da seta, pode ajustar conforme necessário */
    cursor: pointer; /* Indica que é clicável */
}
